<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>

    <link rel="stylesheet" href="/css/styles.css">
    <!-- Cites Boxicons open source library -->
    <link href="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>

<body class="Main-background">

    <header>
        <input type="checkbox" name="check" id="check">
        <img src="/picture/aberdeen-logo.png" class="logo">

        <nav class="nav">
            <div class="divider"></div>
            <a href="about">About</a>
            <a href="search">Search</a>
            <a href="upload">Upload</a>
        </nav>

        <div class="user-form-group">
            <a class="login" href="login">Login</a>
            <form action="/signout" method="POST" style="display: inline;">
                <button type="submit" class="signout">Sign Out</button>
            </form>
            <a class="signup" href="register">Register</a>
            <label for="check">
                <i class='bx bx-menu menu'></i>
                <i class='bx bx-x close-menu'></i>
            </label>
        </div>
    </header>

    <!-- Dynamic typing effect output location -->
    <div class="parent-container">
        <div id="typed-output" class="typed-cursor"></div>
    </div>;

    <!-- 主页提示字 -->
    <div class="main-text">
        <!-- Show user's remaining votes -->
        <% if (user) { %>
            <p>Your Remaining Votes: <%= user.votes_remaining %>
            </p>
            <% } %>
                <!-- User's login status -->
                <% if (user) { %>
                    <p>Hello, <%= user.username %>! You are logged in.</p>
                    <% } else { %>
                        <p>Please log in to access more features.</p>
                        <% } %>
    </div>


    <div class="gallery">
        <% if (works.length> 0) { %>
            <% works.forEach(function(work) { %>
                <div class="gallery-item-container">
                    <div class="image-card">
                        <img src="<%= work.image_url %>" alt="Uploaded Photo">
                    </div>
                    <p>
                        <%= work.title %>
                    </p>
                    <p>Votes Received: <%= work.votes_received %>
                    </p>
                    <p>Uploaded by User ID: <%= work.user_id %>
                    </p>
                    <!-- 添加link导入作品页面 -->
                    <a href="/search-result?user_id=<%= work.user_id %>" class="view=-details">View Detatails</a>

                    <!-- 让按钮正确显示 -->
                    <% if (user && user.votes_remaining> 0) { %>
                        <form method="POST" action="/vote">
                            <input type="hidden" name="work_id" value="<%= work.work_id %>">
                            <button type="submit" class="vote-button">Vote</button>
                        </form>
                        <% } else if (user) { %>
                            <p class="no-vote">No votes remaining.</p>
                            <% } %>
                </div>
                <% }); %>
                    <% } else { %>
                        <p>No works available.</p>
                        <% } %>
    </div>



    <!-- Footer -->
    <footer class="footer">
        <div class="footer-inner">
            <img src="/picture/aberdeen.png" class="footer-img"></img>
            <p>University of Aberdeen</p>
            <p>King's College,</p>
            <p>Aberdeen,</p>
            <p>AB24 3FX</p>
            <hr>
            <h3>Contact</h3>
            <p>Dr. Yeshui Zhang (yeshui.zhang@abdn.ac.uk)</p>
            <p>Acknowledgement: This project is funded by the Royal Society of Chemistry Inclusion and Diversity Fund:
                242211846.</p>


        </div>
        <!-- Scripts -->
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
        <script src="/js/typed.js"></script>
    </footer>
</body>

</html>