<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>

    <!-- 引入外部css文件 -->
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <form method="POST" action="/registered">
        <p>
            First name:
            <input id="first" type="text" name="first" placeholder="First name"
                value="<%= formData ? formData.first : '' %>"
                class="<%= errors && errors.some(e => e.field === 'first') ? 'error' : '' %>" />

        </p>

        <p>
            Last name:
            <input id="last" type="text" name="last" placeholder="Last name"
                value="<%= formData ? formData.last : '' %>"
                class="<%= errors && errors.some(e => e.field === 'last') ? 'error' : '' %>" />

        </p>

        <p>
            Email:
            <input id="email" type="email" name="email" placeholder="Enter your email"
                value="<%= formData ? formData.email : '' %>"
                class="<%= errors && errors.some(e => e.field === 'email') ? 'error' : '' %>" />
            <% if (errors && errors.some(e=> e.field === 'email')) { %>
                <span class="error-text" style="color:red"> Email is already registerd or invalid.</span>
                <% } %>
        </p>

        <p>
            Password:
            <input id="password" type="password" name="password" placeholder="Enter your password"
                class="<%= errors && errors.some(e => e.field === 'password') ? 'error' : '' %>" />

        </p>

        <p>
            Confirm Password:
            <input id="confirm-password" type="password" name="confirmPassword" placeholder="Confirm your password"
                class="<%= errors && errors.some(e => e.field === 'confirmPassword') ? 'error' : '' %>" />

        </p>

        <p>
            Phone (optional):
            <input id="phone" type="tel" name="phone" placeholder="Enter your phone number"
                value="<%= formData ? formData.phone : '' %>" />
        </p>

        <p>
            Your Occupation:
            <select name="Occupation" id="Occupation"
                class="<%= errors && errors.some(e => e.field === 'Occupation') ? 'error' : '' %>">
                <option value="">Select your Occupation</option>
                <option value="Student" <%=formData.Occupation==='Student' ? 'selected' : '' %>> Student </option>
                <option value="Academic" <%=formData.Occupation==='Academics' ? 'selected' : '' %>> Academics </option>
                <option value="Industries" <%=formData.Occupation==='Industries' ? 'selected' : '' %>> Industries
                </option>
                <option value="Other" <%=formData.Occupation==='Other' ? 'selected' : '' %>> Other </option>
            </select>
        </p>

        <p>
            Country of your organization :
            <input list="countries" name="country" id="country" placeholder="Select your country"
                class="<%= errors && errors.some(e => e.field === 'country') ? 'error' : '' %>">
            <datalist id="countries">
                <% countryList.forEach(function(country) { %>
                    <option value="<%= country %>"></option>
                    <% }) %>
            </datalist>
        </p>

        <p>
            Name of your organization:
            <input id="organization" type="text" name="organization" placeholder="Enter your organization name"
                value="<%= formData ? formData.organization : '' %>"
                class="<%= errors && errors.some(e=> e.field === 'organization') ? 'error' : '' %>" />
        </p>


        <input type="submit" value="Register" />
    </form>

    <!-- 引入外部的 JavaScript 文件 -->
    <script src="/js/validation.js"></script>
</body>

</html>